{{>menu pageIdCode="books"}}

<div id="vueapp">
    <h1>TESTING: [\{{message}}]</h1>
    <p>There are {{{books.length}}} books.</p>
    <div class="books">
        {{#books}}
        <a href="book/{{{idCode}}}"><img class="book"
                 src="images/books/{{{idCode}}}.png" /></a>
        {{/books}}
    </div>
</div>

<script>
    Vue.createApp({
        data() {
            return {
                message: ""
            };
        },
        methods: {
            initialize() {
                this.message = "TEXT FROM VUE.JS";
            },
        },
    }).mount('#vueapp').initialize();
</script>