{{>menu pageIdCode="books"}}

<div id="vueapp">
    <div class="books">
        <div class="booksContent"></div>
        <div class="spinner"></div>
    </div>
</div>

<script>
    Vue.createApp({
        data() {
            return {
                message: ""
            };
        },

        initialize() {
            this.message = "TEXT FROM VUE.JS";
        },
    },
    }).mount('#vueapp').initialize();
</script>