<nav>
	<a href="/"
	   class="{{#ifEquals pageIdCode "
	   welcome"}}active{{/ifEquals}}">Welcome</a>
	<a href="/books"
	   class="{{#ifEquals pageIdCode "
	   books"}}active{{/ifEquals}}">Books</a>
	<a href="/about"
	   class="{{#ifEquals pageIdCode "
	   about"}}active{{/ifEquals}}">About</a>
</nav>